<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.samples.apps.sunflower">

    <!--
       【整个项目重要点，必须要看的】

       TODO 1 注意所有的引用都是单向的,尤其注意viewModel会持有repository的引用。
       TODO 2 而对数据的操作(通过Dao的增删查改)和网络请求都是在repository中完成的。

       TODO 整个项目三个重要部分：
       1.Garden / GardenPlanting == 我的花园
       2.Plant / PlantList == 植物 植物列表
       3.PlantDetail == 植物详情

       TODO 数据层面部分：
       Plant数据类对应plants表
       GardenPlanting数据类对应garden_plants表

       plants表：存储了所有植物的信息
        这里数据的获取并不是来源于网络，而是来自于事先已经创建好了的assets目录下的json数组，
        并在数据库创建时，通过WorkManger发送这个请求，把所有Plant的信息insert到plants表中。



    -->

    <!-- 同学们：这里加入网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GardenActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>